<div class="footer">

  <div id="footer-wrapper">
    <div id="footer-top">
      <div id="footer-top-inner" class="container">
        <div class="row">
          <div class="span3" role="complementary">
            <div class="region region-bottom-quadruple-first">
              <div id="block-block-2" class="block block-block">
                <div class="title">
                  <h2 class="block-title">Туроператор Тесс Тур Крым</h2>
                </div><!-- /.title -->

                <div class="content">
                  <p>Реестровый номер в Едином федеральном реестре туроператоров: <a href="http://russiatourism.ru/operators/show.php?id=24148182-42ff-8214-c3ec-54b376d7b21f" target="_blank">МВТ 015633</a></p>
                  <p>В рамках туристической деятельности, мы оказываем услуги по бронированию мест и путевок в санаториях, пансионатах, гостиницах Крыма, услуги по трансферу, услуги по бронированию и покупке билетов для клиентов.</p>
                </div><!-- /.content -->
              </div><!-- /.block -->
            </div>
          </div><!-- /.span3 -->

          <div class="sidebar span3" role="complementary">
            <div class="region region-bottom-quadruple-second">
              <div id="block-block-3" class="block block-block">
                <div class="title">
                  <h2 class="block-title">Контакты</h2>
                </div><!-- /.title -->

                <div class="content">
                  <table class="contact">
                    <tr>
                      <th class="address">Адрес:</th>
                      <td>Республика Крым<br>Симферополь<br>ул.Шполянской, 7/9, офис 12<br></td>
                    </tr>
                    <tr>
                      <th class="phone">Телефон:</th>
                      <td>+7 3652 546201<br>+7 3652 531222</td>
                    </tr>
                    <tr>
                      <th class="email">E-mail:</th>
                      <td><a href="mailto:vvv@crimea.com">vvv@crimea.com</a></td>
                    </tr>
                    <tr>
                      <th class="skype">Skype:</th>
                      <td>vvvcrimea</td>
                    </tr>
                  </table>
                </div><!-- /.content -->
              </div><!-- /.block -->
            </div>
          </div><!-- /.span3 -->

          <div class="span3" role="complementary">
            <div class="region region-bottom-quadruple-third">
              <div id="block-menu-menu-usefull-links" class="block block-menu">
                <div class="title">
                  <h2 class="block-title">Полезные разделы</h2>
                </div><!-- /.title -->

                <div class="content">
                  <ul class="menu nav"><li class="first leaf"><a href="/base">Поиск отдыха</a></li>
                    <li class="leaf"><a href="/about">О нас</a></li>
                    <li class="leaf active-trail active"><a href="/weare" class="active-trail active">Менеджеры по бронированию</a></li>
                    <li class="leaf"><a href="/contacts">Контакты</a></li>
                    <li class="leaf"><a href="/faq-page">Ответы на вопросы</a></li>
                    <li class="leaf"><a href="/informaciya-dlya-agentstv">Для агентств</a></li>
                    <li class="last leaf"><a href="/informaciya-dlya-partnyorov">Для партнёров</a></li>
                  </ul>  </div><!-- /.content -->
              </div><!-- /.block -->
            </div>
          </div><!-- /.span3 -->

          <div class="span3" role="complementary">
            <div class="region region-bottom-quadruple-last">
              <div id="block-realia-blocks-contact-webform" class="block block-realia-blocks">
                <div class="title">
                  <h2 class="block-title">Быстрая связь</h2>
                </div><!-- /.title -->

                <div class="content">
                  <div id="node-9" class="node node-webform node-promoted clearfix" about="/bystraya-svyaz" typeof="sioc:Item foaf:Document">



                    <span property="dc:title" content="Быстрая связь" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>    <div class="content">

                    <form class="webform-client-form" enctype="multipart/form-data" action="/weare" method="post" id="webform-client-form-9" accept-charset="UTF-8"><div><div class="form-item webform-component webform-component-textfield" id="webform-component-name">
                      <label for="edit-submitted-name" class="control-label">Имя <span class="form-required" title="Это поле обязательно для заполнения.">*</span></label>
                      <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required" />
                    </div>
                      <div class="form-item webform-component webform-component-email" id="webform-component-email">
                        <label for="edit-submitted-email" class="control-label">Email <span class="form-required" title="Это поле обязательно для заполнения.">*</span></label>
                        <input class="email form-text form-email required" type="email" id="edit-submitted-email" name="submitted[email]" size="60" />
                      </div>
                      <div class="form-item webform-component webform-component-textarea" id="webform-component-your-message">
                        <label for="edit-submitted-your-message" class="control-label">Ваше сообщение <span class="form-required" title="Это поле обязательно для заполнения.">*</span></label>
                        <div class="form-textarea-wrapper"><textarea id="edit-submitted-your-message" name="submitted[your_message]" cols="60" rows="5" class="form-textarea required"></textarea></div>
                      </div>
                      <div class="form-item webform-component webform-component-checkboxes" id="webform-component-soglasie">
                        <label class="element-invisible control-label" for="edit-submitted-soglasie">Согласие <span class="form-required" title="Это поле обязательно для заполнения.">*</span></label>
                        <div id="edit-submitted-soglasie" class="form-checkboxes"><div class="form-item form-type-checkbox form-item-submitted-soglasie-1">
                          <input type="checkbox" id="edit-submitted-soglasie-1" name="submitted[soglasie][1]" value="1" checked="checked" class="form-checkbox" />  <label class="option checkbox control-label" for="edit-submitted-soglasie-1">Согласен на обработку персональных данных </label>

                        </div>
                        </div>
                        <div class="description"><a href="/politika-konfidencialnosti">Политика конфиденциальности</a></div>
                      </div>
                      <input type="hidden" name="details[sid]" />
                      <input type="hidden" name="details[page_num]" value="1" />
                      <input type="hidden" name="details[page_count]" value="1" />
                      <input type="hidden" name="details[finished]" value="0" />
                      <input type="hidden" name="form_build_id" value="form-HBAuDwNeX4IG3LMtMm732hY0qsVQ6xZShhe2HeqSCCQ" />
                      <input type="hidden" name="form_id" value="webform_client_form_9" />
                      <div class="element-invisible"><div class="form-item form-type-checkbox form-item-smplntspm2">
                        <input type="checkbox" id="edit-smplntspm2" name="smplntspm2" value="1" class="form-checkbox" />  <label class="option checkbox control-label" for="edit-smplntspm2">Я спамер </label>

                      </div>
                      </div><div class="form-item form-type-checkbox form-item-smplntspm1">
                        <input type="checkbox" id="edit-smplntspm1" name="smplntspm1" value="1" class="form-checkbox" />  <label class="option checkbox control-label" for="edit-smplntspm1">Я не робот, а настоящий человек </label>

                      </div>
                      <button class="btn btn-primary form-submit" id="edit-submit--2" name="op" value="Отправить" type="submit">Отправить</button>
                    </div></form>  </div>
                  </div>
                </div><!-- /.content -->
              </div><!-- /.block -->
            </div>
          </div><!-- /.span3 -->
        </div>
      </div>
    </div>
  </div>


</div>
