<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-4">
				<img typeof="foaf:Image" class="w-100 rounded"
				src="http://www.tess-tour.com/sites/default/files/valentina.jpg"/>
			</div>
			<div class="col-8">
				Дмитриева Тина <br>
				+7 978 716-09-74 <br>
				tess@tess-tour.com
			</div>
		</div>
	</div>
</div>

<!--<div class="content">-->
	<!--<div class="view view-agent view-id-agent view-display-id-block view-dom-id-557575ebf63b0f936272d2bd01d16624">-->
		<!--<div class="view-content">-->
			<!--<div class="views-row views-row-1 views-row-odd views-row-first">-->
				<!--<div class="views-field views-field-field-photo">-->
					<!--<div class="field-content circle">-->
						<!--<img typeof="foaf:Image"-->
						     <!--src="http://www.tess-tour.com/sites/default/files/valentina.jpg"-->
								 <!--width="280" height="280" alt=""/></div>-->
				<!--</div>-->
				<!--<div class="views-field views-field-title"><span class="field-content">Дмитриева Тина</span></div>-->
				<!--<div class="views-field views-field-field-phone">-->
					<!--<div class="field-content">+7 978 716-09-74</div>-->
				<!--</div>-->
				<!--<div class="views-field views-field-field-email">-->
					<!--<div class="field-content">tess@tess-tour.com</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="views-row views-row-2 views-row-even">-->

				<!--<div class="views-field views-field-field-photo">-->
					<!--<div class="field-content circle"><img typeof="foaf:Image"-->
																								 <!--src="http://www.tess-tour.com/sites/default/files/vesna.jpg"-->
																								 <!--width="280" height="280" alt=""/></div>-->
				<!--</div>-->
				<!--<div class="views-field views-field-title"><span class="field-content">Весна Виктор</span></div>-->
				<!--<div class="views-field views-field-field-phone">-->
					<!--<div class="field-content">+7 978 716-16-63</div>-->
				<!--</div>-->
				<!--<div class="views-field views-field-field-email">-->
					<!--<div class="field-content">vvv@crimea.com</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="views-row views-row-3 views-row-odd views-row-last">-->

				<!--<div class="views-field views-field-field-photo">-->
					<!--<div class="field-content circle"><img typeof="foaf:Image"-->
																								 <!--src="http://www.tess-tour.com/sites/default/files/lena_vesna2.jpg"-->
																								 <!--width="280" height="280" alt=""/></div>-->
				<!--</div>-->
				<!--<div class="views-field views-field-title"><span class="field-content">Весна Елена</span></div>-->
				<!--<div class="views-field views-field-field-phone">-->
					<!--<div class="field-content">+7 978 766-56-47</div>-->
				<!--</div>-->
				<!--<div class="views-field views-field-field-email">-->
					<!--<div class="field-content">travel@crimea.com</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->


		<!--<div class="more-link">-->
			<!--<a href="/contacts">-->
				<!--все менеджеры </a>-->
		<!--</div>-->


	<!--</div>-->
<!--</div>&lt;!&ndash; /.content &ndash;&gt;-->