<div class="container">
	<div class="row">
		<section class="col-lg-8">
			<a id="main-content"></a>
			<h5>Все объекты для отдыха в Крыму</h5>
			<div class="view view-apartments view-id-apartments view-display-id-listing_grid_filtered listing-grid">
				<div class="view-content">
					<div class="row">
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/object/otel/gurzuf/otel-yaguar"><img
										typeof="foaf:Image" src="http://tess-tour.com/sites/default/files/921225z600.jpg"
										width="533"
										height="400" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title">
								<h2 class="field-content">
									<a href="/object/otel/gurzuf/otel-yaguar">Отель &quot;Ягуар&quot;</a>
								</h2>
							</div>
							<div class="views-field views-field-field-location">
								<strong class="field-content">Гурзуф</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Большая Ялта</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 800 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">
							<div class="views-field views-field-field-image">
								<div class="field-content">
									<a href="/aaa">
										<a href="/object/otel/kurpaty/otel-palmira-sad">
											<img typeof="foaf:Image"
													 src="http://tess-tour.com/sites/default/files/kopiya_panorama_s_basseinom.jpg"
													 width="900" height="567" alt=""/>
										</a>
									</a>
								</div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/otel/kurpaty/otel-palmira-sad">Отель &quot;Пальмира Сад&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Курпаты</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Большая Ялта</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 000 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">2*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/sanatoriy/simeiz/sanatoriy-simeiz"><img
										typeof="foaf:Image" src="http://tess-tour.com/sites/default/files/kopiya_p1015184.jpg"
										width="900" height="674" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/sanatoriy/simeiz/sanatoriy-simeiz">Санаторий &quot;Симеиз&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Симеиз</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 200 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">2*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/object/pansionat/saki/pansionat-parus"><img
										typeof="foaf:Image" src="http://tess-tour.com/sites/default/files/foto_fasada.jpg"
										width="900"
										height="620" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/pansionat/saki/pansionat-parus">Пансионат &quot;Парус&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Саки</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 800 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/sanatoriy/saki/sanatoriy-yurmino"><img
										typeof="foaf:Image" src="http://tess-tour.com/sites/default/files/img_5988-2.jpg"
										width="900"
										height="600" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/sanatoriy/saki/sanatoriy-yurmino">Санаторий Юрмино</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Саки</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 2 000 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/sanatoriy/livadiya/sanatoriy-kurpaty"><img typeof="foaf:Image"
																																						 src="http://tess-tour.com/sites/default/files/sanatoriy_kurpaty_2.jpg"
																																						 width="900" height="600"
																																						 alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/sanatoriy/livadiya/sanatoriy-kurpaty">Санаторий &quot;Курпаты&quot;</a></h2>
							</div>
							<div class="views-field views-field-field-location"><strong class="field-content">Ливадия</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 2 000 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/lechebno-ozdorovitelnyy-kompleks/posyolok-opolznevoe/sanatorno-kurortnyy-kompleks-mriya"><img
										typeof="foaf:Image"
										src="http://tess-tour.com/sites/default/files/9082a3820d1d38ecd2f9bab243e839393a5_4.jpg"
										width="900" height="600" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/lechebno-ozdorovitelnyy-kompleks/posyolok-opolznevoe/sanatorno-kurortnyy-kompleks-mriya">Санаторно-курортный
								комплекс Мрия Резорт&amp;Спа</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Посёлок
								Оползневое</strong></div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 6 999 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">5*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/sanatoriy/evpatoriya/sanatoriy-primore"><img typeof="foaf:Image"
																																							 src="http://tess-tour.com/sites/default/files/dsc07975.jpg"
																																							 width="800" height="532" alt=""/></a></a>
								</div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/sanatoriy/evpatoriya/sanatoriy-primore">Санаторий &quot;Приморье&quot;</a></h2>
							</div>
							<div class="views-field views-field-field-location"><strong
									class="field-content">Евпатория</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 800 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/node/29"><img typeof="foaf:Image"
																																									src="http://tess-tour.com/sites/default/files/k3_b.jpg"
																																									width="900" height="626"
																																									alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a href="/node/29">Санаторий
								&quot;Южнобережный&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Алупка</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 240 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/node/16"><img typeof="foaf:Image"
																																									src="http://tess-tour.com/sites/default/files/yup_korrpus_pervyy_i_vtoroy_etazh_0.jpeg"
																																									width="480" height="360"
																																									alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a href="/node/16">Пансионат
								&quot;Южный полюс&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong
									class="field-content">Отрадное</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 400 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">2*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/node/18"><img typeof="foaf:Image"
																																									src="http://tess-tour.com/sites/default/files/med_dsc09830_1.jpg"
																																									width="900" height="507"
																																									alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a href="/node/18">Парк-отель
								&quot;Глория&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Мисхор</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 500 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">4*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/sanatoriy/koreiz/sanatoriy-ay-petri"><img typeof="foaf:Image"
																																						src="http://tess-tour.com/sites/default/files/ukraine_crimea_big_yalta_mishor_i_petry_17.jpg"
																																						width="900" height="675"
																																						alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/sanatoriy/koreiz/sanatoriy-ay-petri">Санаторий &quot;Ай-Петри&quot;</a></h2>
							</div>
							<div class="views-field views-field-field-location"><strong class="field-content">Кореиз</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 700 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/sanatoriy/livadiya/sanatoriy-gornyy"><img typeof="foaf:Image"
																																						src="http://tess-tour.com/sites/default/files/dsc01780_0.jpg"
																																						width="800" height="532"
																																						alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/sanatoriy/livadiya/sanatoriy-gornyy">Санаторий &quot;Горный&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Ливадия</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 900 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/node/65"><img typeof="foaf:Image"
																																									src="http://tess-tour.com/sites/default/files/ener69.jpg"
																																									width="600" height="400"
																																									alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a href="/node/65">Пансионат
								&quot;Энергетик&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong
									class="field-content">Николаевка</strong></div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 300 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/node/64"><img typeof="foaf:Image"
																																									src="http://tess-tour.com/sites/default/files/dvorec_0.jpg"
																																									width="900" height="598"
																																									alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a href="/node/64">Санаторий
								&quot;Карасанский&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong
									class="field-content">Партенит</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 125 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">4*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/pansionat/otradnoe/ripario-hotel-group"><img typeof="foaf:Image"
																																							 src="http://tess-tour.com/sites/default/files/v_b.jpg"
																																							 width="871" height="648" alt=""/></a></a>
								</div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/pansionat/otradnoe/ripario-hotel-group">Ripario Hotel Group</a></h2></div>
							<div class="views-field views-field-field-location"><strong
									class="field-content">Отрадное</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 445 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">4*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/node/61"><img typeof="foaf:Image"
																																									src="http://tess-tour.com/sites/default/files/13312896.jpg"
																																									width="900" height="675"
																																									alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a href="/node/61">ДСОЦ
								&quot;Маяк&quot;</a>
							</h2></div>
							<div class="views-field views-field-field-location"><strong
									class="field-content">Евпатория</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 970 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">2*</div>
							</div>
						</div>
						<div class="item col-lg-4">

							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a
										href="/object/lechebno-ozdorovitelnyy-kompleks/alushta/kurortnyy-kompleks-more"><img
										typeof="foaf:Image" src="http://tess-tour.com/sites/default/files/33ss.jpg" width="500"
										height="400" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/object/lechebno-ozdorovitelnyy-kompleks/alushta/kurortnyy-kompleks-more">Курортный
								комплекс
								&quot;Море&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Алушта</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Южный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 2 100 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">4*</div>
							</div>
						</div>
						<div class="item col-lg-4">
							<div class="views-field views-field-field-image">
								<div class="field-content"><a href="/aaa"><a href="/base/pansionat-tanzher"><img
										typeof="foaf:Image" src="http://tess-tour.com/sites/default/files/dsc09789.jpg" width="600"
										height="399" alt=""/></a></a></div>
							</div>
							<div class="views-field views-field-title"><h2 class="field-content"><a
									href="/base/pansionat-tanzher">Пансионат &quot;Танжер&quot;</a></h2></div>
							<div class="views-field views-field-field-location"><strong class="field-content">Саки</strong>
							</div>
							<div class="views-field views-field-field-region">
								<div class="field-content">Западный берег Крыма</div>
							</div>
							<div class="views-field views-field-field-price">
								<div class="field-content">от 1 200 руб.</div>
							</div>
							<div class="views-field views-field-field-bedrooms">
								<div class="field-content">3*</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="col-lg-4">
			<h5>Наши менеджеры</h5>
			<app-managers></app-managers>
			<h5>Новые предложения</h5>
			<app-objects-widget></app-objects-widget>
		</section>
	</div>
</div>
