<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<h4>Информация для агентств</h4>
					<table class="table">
						<tr>
							<th>Вложение</th>
							<th>Размер</th>
						</tr>
						<tr>
							<td>
								<a href="http://tess-tour.com/sites/default/files/docs/dogovor-s-agentstvom_2017.docx">
									Агентский договор
								</a>
							</td>
							<td>62.08 КБ</td>
						</tr>
					</table>
					<h4>Информация для партнёров</h4>
					<table class="table">
						<tr>
							<th>Вложение</th>
							<th>Размер</th>
						</tr>
						<tr>
							<td>
								<a href="http://tess-tour.com/sites/default/files/docs/rukovodstvo_polzovatelya1.pdf">
									Руководство пользователя системы бронирования
								</a>
							</td>
							<td>2.24 МБ</td>
						</tr>
						<tr>
							<td>
								<a
										href="http://tess-tour.com/sites/default/files/docs/rukovodstvo_administratora_turistricheskogo_agentstva1.pdf">
									Руководство администратора туристического агентства
								</a>
							</td>
							<td>1.36 МБ</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
