<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-lg-12">
						<h5>Менеджеры по бронированию путёвок</h5>
						<div class="row pt-md">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
								<div class="img-box">
									<img src="http://tess-tour.com/sites/default/files/styles/280_280/public/vesna.jpg?itok=sFxN4lMW"
											 class="img-fluid">
									<ul class="text-center">
										<a href="#">
											<li><i class="fa fa-facebook"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-twitter"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-linkedin"></i></li>
										</a>
									</ul>
								</div>
								<h1>Весна Виктор</h1>
								<h2>Директор</h2>
								<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->

								<div class="phone">+7 978 716-16-63</div>
								<div class="office">+ 7 3652 530130</div>
								<div class="skype">vvvcrimea</div>
								<div class="email">vvv@crimea.com</div>

							</div>
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
								<div class="img-box">
									<img src="http://tess-tour.com/sites/default/files/styles/280_280/public/natalie.jpg?itok=YoxtAw_K"
											 class="img-fluid">
									<ul class="text-center">
										<a href="#">
											<li><i class="fa fa-facebook"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-twitter"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-linkedin"></i></li>
										</a>
									</ul>
								</div>
								<h1>Christopher Di</h1>
								<h2>Co-founder/ Projects</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
								<div class="img-box">
									<img src="http://tess-tour.com/sites/default/files/styles/280_280/public/valentina.jpg?itok=TcWS0tmF"
											 class="img-fluid">
									<ul class="text-center">
										<a href="#">
											<li><i class="fa fa-facebook"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-twitter"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-linkedin"></i></li>
										</a>
									</ul>
								</div>
								<h1>Heather H</h1>
								<h2>Co-founder/ Marketing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
								<div class="img-box">
									<img
											src="http://tess-tour.com/sites/default/files/styles/280_280/public/lena_vesna2.jpg?itok=isuJyRP_"
											class="img-fluid">
									<ul class="text-center">
										<a href="#">
											<li><i class="fa fa-facebook"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-twitter"></i></li>
										</a>
										<a href="#">
											<li><i class="fa fa-linkedin"></i></li>
										</a>
									</ul>
								</div>
								<h1>John Doe</h1>
								<h2>Designer</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<h1 class="page-header">Менеджеры по бронированию путёвок</h1>-->
<!--<div class="view view-agent view-id-agent view-display-id-page_1 view-dom-id-7a2cca9b8bcdcf134a717be9a0e30eb8">-->
<!--<div class="view-content">-->
<!--<div class="views-row views-row-1 views-row-odd views-row-first">-->
<!--<div class="views-field views-field-field-email">-->
<!--<div class="field-content">-->
<!--<div class="row">-->
<!--<div class="span2">-->
<!--<img typeof="foaf:Image"-->
<!--src="http://tess-tour.com/sites/default/files/styles/280_280/public/vesna.jpg?itok=sFxN4lMW"-->
<!--width="280" height="280" alt=""/></div>-->
<!--<div class="span6">-->
<!--<h3>Весна Виктор</h3>-->
<!--<p>Директор.</p>-->
<!--</div>-->
<!--<div class="span4">-->
<!--<div class="box">-->
<!--<div class="phone">+7 978 716-16-63</div>-->
<!--<div class="office">+ 7 3652 530130</div>-->
<!--<div class="skype">vvvcrimea</div>-->
<!--<div class="email">vvv@crimea.com</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="views-row views-row-2 views-row-even">-->

<!--<div class="views-field views-field-field-email">-->
<!--<div class="field-content">-->
<!--<div class="row">-->
<!--<div class="span2">-->
<!--<img typeof="foaf:Image"-->
<!--src="http://tess-tour.com/sites/default/files/styles/280_280/public/natalie.jpg?itok=YoxtAw_K"-->
<!--width="280" height="280" alt=""/></div>-->
<!--<div class="span6">-->
<!--<h3>Никитенко Наталья</h3>-->
<!--<p>Менеджер по путёвкам. Проведение семинаров, конференций.</p>-->

<!--</div>-->
<!--<div class="span4">-->
<!--<div class="box">-->
<!--<div class="phone">+7 978 7057899</div>-->
<!--<div class="office">+ 7 3652 530130</div>-->
<!--<div class="skype">energonata</div>-->
<!--<div class="email">more@tess-tour.com</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="views-row views-row-3 views-row-odd">-->

<!--<div class="views-field views-field-field-email">-->
<!--<div class="field-content">-->
<!--<div class="row">-->
<!--<div class="span2"><img typeof="foaf:Image"-->
<!--src="http://tess-tour.com/sites/default/files/styles/280_280/public/valentina.jpg?itok=TcWS0tmF"-->
<!--width="280" height="280" alt=""/></div>-->
<!--<div class="span6">-->
<!--<h3>Дмитриева Тина</h3>-->
<!--<p>Менеджер по туризму</p>-->

<!--</div>-->
<!--<div class="span4">-->
<!--<div class="box">-->
<!--<div class="phone">+7 978 716-09-74</div>-->
<!--<div class="office">+ 7 3652 530130</div>-->
<!--<div class="skype">tinatin77774</div>-->
<!--<div class="email">tess@tess-tour.com</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="views-row views-row-4 views-row-even views-row-last">-->

<!--<div class="views-field views-field-field-email">-->
<!--<div class="field-content">-->
<!--<div class="row">-->
<!--<div class="span2"><img typeof="foaf:Image"-->
<!--src="http://tess-tour.com/sites/default/files/styles/280_280/public/lena_vesna2.jpg?itok=isuJyRP_"-->
<!--width="280" height="280" alt=""/></div>-->
<!--<div class="span6">-->
<!--<h3>Весна Елена</h3>-->
<!--<p>Менеджер по туризму</p>-->

<!--</div>-->
<!--<div class="span4">-->
<!--<div class="box">-->
<!--<div class="phone">+7 978 766-56-47</div>-->
<!--<div class="office">+ 7 3652 530130</div>-->
<!--<div class="skype"></div>-->
<!--<div class="email">travel@crimea.com</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
