<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<h4>
						Туроператор ООО "ТЕСС ТУР КРЫМ"</h4>
					<p>
						Наша компания занимается туристической деятельностью в Крыму с 1998 года.</p>
					<!-- Лицензия Гос. Тур. Администрации Украины N 467129 от 23.04.2009 г.--><p>Реестровый номер в Едином
					федеральном
					реестре туроператоров: <a
							href="http://russiatourism.ru/operators/show.php?id=24148182-42ff-8214-c3ec-54b376d7b21f" target="_blank">МВТ
						015633</a><br/>
					В рамках туристической деятельности, мы оказываем услуги по бронированию мест и путевок в санаториях,
					пансионатах,
					гостиницах Крыма, услуги по трансферу, услуги по бронированию и покупки билетов для клиентов.</p>
					<p>
						Впервые в сети Интернет на сервере<b><font color="#000066"> <a href="http://www.tour.crimea.com">www.tour.crimea.com</a></font></b>
						опубликован "Навигатор Крым" 1 декабря 1997 года. С этого времени поддерживается и развивается <b><font
							color="#000099">Туристический сервер Крыма</font></b>.</p>
					<p>
						С 1998 года через <a class="link" href="http://www.tour.crimea.com">Туристический сервер Крыма</a> наша
						организация занимается туристической деятельностью и обслуживанием ТУРИСТОВ, заказавшим услуги через
						Интернет.
					</p>
					<p>
						С 1998 года выпускался ежегодно путеводитель "Навигатор Крым" на русском языке. Выпуски 1998 года - тираж
						10000
						экземпляров, выпуски, начиная с 1999 года - 5000 экземпляров.<br/>
						Подготовлены и выпущены буклеты на английском, немецком и русском языке и распространены в Германии тиражом
						5000
						экземпляров.<br/>
						Выпущена электронная визитка Крыма при поддержке Министерства курортов и туризма АРК, совместно с КЦРТ на
						русском и английском языках.</p>
					<ul>
						<li>
							<a class="link" href="http://www.tour.crimea.com/ABOUT/web.shtml">Содание сайтов, web-дизайн,
								программирование
								для web</a></li>
						<li>
							<a class="link" href="http://www.tour.crimea.com/ABOUT/foto.shtml">Профессиональная фотосъёмка</a></li>
					</ul>
					<p>
						&nbsp;</p>
				</div>
				<div class="col-12">
					<p>
						Одно из основных направлений нашей деятельности - <b><font color="#000066">проведение международных
						семинаров и
						конференций:</font></b></p>
					<ul>
						<li>
							Май 1999 года - II Международная конференция "ГИС-технологии в управлении региональным развитием" - 70
							человек, создавался и поддерживался Web-сайт, выпущен CD-ROM.
						</li>
						<li>
							Май 2000 года - III Международная конференция "ГИС-технологии в управлении региональным развитием" - 170
							человек, создавался и поддерживался Web-сайт, выпущен CD-ROM.
						</li>
						<li>
							Декабрь 2000 года - научно-практическая конференция "Проблемы реализации генеральных планов городов Крыма"
							-
							50 человек, выпущены труды конференции в виде сборника тезисов
						</li>
						<li>
							Март 2001 года - I собрание - съезд Ассоциации участников рынка Интернет Украины (АУРИУ) - 50 человек,
							подробнее на auriu.org
						</li>
						<li>
							Октябрь 2004 года - VII собрание - съезд Ассоциации участников рынка Интернет Украины (АУРИУ) - 30 человек
						</li>
					</ul>
					<p>
						<a href="http://www.tour.crimea.com/images/foto/pearl.jpg"><img align="right" alt="Крымская жемчужина"
																																						border="0" height="118" hspace="20"
																																						src="http://www.tour.crimea.com/images/foto/pearl.gif"
																																						width="44"/></a><br/>
						По результатам <a class="link" href="http://www.tour.crimea.com/OFFICIAL/perl03.shtml">IV республиканского
						конкурса "Крымская жемчужина"</a>, в котором приняли участие санаторно-курортные и туристские предприятия,
						частные предприниматели, работающие в данной сфере, зарегистрированные на территории Крыма, средства
						массовой
						информации Крыма, Украины, стран ближнего и дальнего зарубежья, <b>Туристический сервер Крыма</b> получил
						<b><font color="#000066">Гран-при</font></b> в номинации<br/>
						<b><font color="#000066">"За пропаганду Крыма как курортно-туристского региона в средствах массовой
							информации"</font></b>.</p>
				</div>
				<div class="col-12">
					<p>
						Мы создали, поддерживаем и наполняем информацией Web - сайты:</p>
					<ol>
						<li>
							<a class="link" href="http://www.tour.crimea.com">Туристический сервер Крыма</a><br/>
							<img src="http://www.cy-pr.com/e/tour.crimea.com_32.gif" alt="Счетчик тИЦ и PR" width="88" height="15"
									 border="0"/></li>
						<li>
							<a href="http://www.www-crimea.com">Крымский туристический навигатор</a><br/>
							<img src="http://www.cy-pr.com/e/www-crimea.com_32.gif" alt="Счетчик тИЦ и PR" width="88" height="15"
									 border="0"/></li>
						<li>
							<a class="link" href="http://www.sledopyt.crimea.ua" target="_blank">Детский тур "Кольцо
								Следопыта"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/sledopyt.crimea.ua_32.gif"/></li>
						<li>
							<a class="link" href="http://www.dsocmayak.com/" target="_blank">Детский оздоровительный центр
								"Маяк"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/dsocmayak.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.ukraina1.com/" target="_blank">Пансионат "Украина-1"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/ukraina1.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.ai-petry.com" target="_blank">Санаторий "Ай-Петри"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/ai-petry.com_32.gif"/></li>
						<li>
							<a class="link" href="http://mechta-hotel.com/" target="_blank">Гостиница "Мечта"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/mechta-hotel.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.san-yalta.com" target="_blank">Санаторий "Южнобережный"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/san-yalta.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.sandulber.ru" target="_blank">Санаторий "Дюльбер"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/sandulber.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://www.miskhor.com.ua" target="_blank">Санаторий "Мисхор"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.miskhor.com.ua_32.gif"/></li>
						<li>
							<a class="link" href="http://san-primorie.com/" target="_blank">Санаторий "Приморье"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-primorie.com_32.gif"/></li>
						<li>
							<a class="link" href="http://san-burdenko.com/" target="_blank">Санаторий им.Бурденко</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-burdenko.com_32.gif"/></li>
						<li>
							<a class="link" href="http://san-ukraine.com/" target="_blank">Санаторий "Украина"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-ukraine.com_32.gif"/></li>
						<li>
							<a class="link" href="http://gornyi.com/" target="_blank">Санаторий "Горный"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.gornyi.com_32.gif"/></li>
						<li>
							<a href="http://u-polus.com" target="_blank">Санаторий "Южный полюс"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.u-polus.com_32.gif"/></li>
						<li>
							<a href="http://ssiyanie.com" target="_blank">Санаторий "Северное сияние"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.ssiyanie.com_32.gif"/></li>
						<li>
							<a href="http://san-pogran.com" target="_blank">Санаторий "Пограничник"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-pogran.com_32.gif"/></li>
						<li>
							<a href="http://san-sechenova.ru" target="_blank">Санаторий НИИ им.Сеченова</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-sechenova.ru_32.gif"/></li>
						<li>
							<a href="http://sankarasan.ru" target="_blank">Санаторий "Карасанский"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.sankarasan.ru_32.gif"/></li>
						<li>
							<a href="http://a-vcs.com" target="_blank">Центральный военный клинический санаторий</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.a-vcs.com_32.gif"/></li>
						<li>
							<a href="http://mrc-pearl.com/" target="_blank">МРЦ "Жемчужина"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.mrc-pearl.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.cottedg.com/" target="_blank">Парк-отель "Родос"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.cottedg.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.pribrezhniy.crimea.com/" target="_blank">Пансионат "Прибрежный"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.pribrezhniy.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.ripario.ru/" target="_blank">Ripario Hotel group</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.ripario.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://www.planeta.crimea.com/" target="_blank">Пансионат "Планета"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.planeta.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.peschanoe.crimea.com" target="_blank">Пансионат "Песчаное"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.peschanoe.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.hotel-tanger.ru/" target="_blank">Пансионат "Танжер"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.hotel-tanger.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://www.musson.crimea.com" target="_blank">Пансионат "Муссон"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.musson.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.ai-lia.com" target="_blank">Пансионат "Ай-Лия"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.ai-lia.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.barcelona.crimea.com" target="_blank">Пансионат "Барселона"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.barcelona.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.fortuna.crimea.com" target="_blank">Пансионат "Фортуна"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.fortuna.crimea.com_32.gif"/></li>
						<li>
							<a href="http://ja-hotel.com" target="_blank">Отель "Ягуар"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.ja-hotel.com_32.gif"/></li>
						<li>
							<a href="http://volna3.com/" target="_blank">Пансионат "Голубая волна"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.volna3.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.photoskazka.crimea.com" target="_blank">Крым-фотосказка. Миллион
								фотографий
								Крыма. Авторский сайт Виталия Ерёменко</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.photoskazka.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.prima.crimea.com" target="_blank">Прима крымского туризма</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.prima.crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.tess-tour.com" target="_blank">Туроператор "Тесс Тур Крым"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.tess-tour.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.go2crimea.com/" target="_blank">Дорога в Крым</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.go2crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.medicine-service.de/" target="_blank">Лечение и сервис в Германии для
								пациентов из Восточной Европы</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.medicine-service.de_32.gif"/></li>
						<li>
							<a class="link" href="http://www.bayernosteuropa-russisch.de/" target="_blank">Bayern Osteuropa OHG.
								Travel.
								Consulting. Marketing</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.bayernosteuropa-russisch.de_32.gif"/>
						</li>
						<li>
							<a class="link" href="http://www.realty-crimea.com/" target="_blank">Продажа недвижимости в Крыму</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.realty-crimea.com_32.gif"/></li>
						<li>
							<a class="link" href="http://www.san-energi.ru" target="_blank">Пансионат с лечением "Энергетик"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-energi.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://www.san-simeiz.ru" target="_blank">Санаторий "Симеиз"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.san-simeiz.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://aidanil.ru" target="_blank">Санаторий "Ай-Даниль"</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/aidanil.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://www.530130.ru" target="_blank">Курортные отели Крыма</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/www.530130.ru_32.gif"/></li>
						<li>
							<a class="link" href="http://jaguarrent.ru" target="_blank">Прокат автомобилей по Крыму</a><br/>
							<img alt="ТИЦ и PR сайта" border="0" src="http://www.cy-pr.com/e/jaguarrent.ru_32.gif"/><br/>
							и другие.
						</li>
					</ol>
					<p>
						&nbsp;</p>
				</div>
				<div class="col-12">
					<h3>Другие варианты отдыха и лечения в Крыму</h3>
					<app-objects></app-objects>
				</div>
			</div>
		</div>
	</div>
</div>
