<div id="block-views-apartments-block-1" class="block block-views">
	<div class="content">
		<div
				class="view view-apartments view-id-apartments view-display-id-block_1 listing-row view-dom-id-25bea9756ae83899b34b85007fdaf7b7">


			<div class="view-content">
				<div class="views-row views-row-1 views-row-odd views-row-first">

					<div class="views-field views-field-field-image">
						<div class="field-content"><a href="/object/otel/gurzuf/otel-yaguar"><img typeof="foaf:Image"
																																											src="http://www.tess-tour.com/sites/default/files/styles/100_100/public/921225z600.jpg?itok=tRJiACj_"
																																											width="90" height="90"
																																											alt=""/></a></div>
					</div>
					<div class="views-field views-field-title"><h3 class="field-content"><a
							href="/object/otel/gurzuf/otel-yaguar">Отель &quot;Ягуар&quot;</a></h3></div>
					<div class="views-field views-field-field-location">
						<div class="field-content">Гурзуф</div>
					</div>
					<div class="views-field views-field-field-price">
						<div class="field-content">от 800 руб.</div>
					</div>
				</div>
				<div class="views-row views-row-2 views-row-even">

					<div class="views-field views-field-field-image">
						<div class="field-content"><a href="/object/otel/kurpaty/otel-palmira-sad"><img typeof="foaf:Image"
																																														src="http://www.tess-tour.com/sites/default/files/styles/100_100/public/kopiya_panorama_s_basseinom.jpg?itok=ERAd3n0J"
																																														width="90" height="90"
																																														alt=""/></a></div>
					</div>
					<div class="views-field views-field-title"><h3 class="field-content"><a
							href="/object/otel/kurpaty/otel-palmira-sad">Отель &quot;Пальмира Сад&quot;</a></h3></div>
					<div class="views-field views-field-field-location">
						<div class="field-content">Курпаты</div>
					</div>
					<div class="views-field views-field-field-price">
						<div class="field-content">от 1 000 руб.</div>
					</div>
				</div>
				<div class="views-row views-row-3 views-row-odd">

					<div class="views-field views-field-field-image">
						<div class="field-content"><a href="/object/sanatoriy/simeiz/sanatoriy-simeiz"><img typeof="foaf:Image"
																																																src="http://www.tess-tour.com/sites/default/files/styles/100_100/public/kopiya_p1015184.jpg?itok=xiCOXG3y"
																																																width="90"
																																																height="90" alt=""/></a>
						</div>
					</div>
					<div class="views-field views-field-title"><h3 class="field-content"><a
							href="/object/sanatoriy/simeiz/sanatoriy-simeiz">Санаторий &quot;Симеиз&quot;</a></h3></div>
					<div class="views-field views-field-field-location">
						<div class="field-content">Симеиз</div>
					</div>
					<div class="views-field views-field-field-price">
						<div class="field-content">от 1 200 руб.</div>
					</div>
				</div>
				<div class="views-row views-row-4 views-row-even views-row-last">

					<div class="views-field views-field-field-image">
						<div class="field-content"><a href="/object/pansionat/saki/pansionat-parus"><img typeof="foaf:Image"
																																														 src="http://www.tess-tour.com/sites/default/files/styles/100_100/public/foto_fasada.jpg?itok=8YJ2cHo_"
																																														 width="90" height="90"
																																														 alt=""/></a></div>
					</div>
					<div class="views-field views-field-title"><h3 class="field-content"><a
							href="/object/pansionat/saki/pansionat-parus">Пансионат &quot;Парус&quot;</a></h3></div>
					<div class="views-field views-field-field-location">
						<div class="field-content">Саки</div>
					</div>
					<div class="views-field views-field-field-price">
						<div class="field-content">от 800 руб.</div>
					</div>
				</div>
			</div>


		</div>
	</div><!-- /.content -->
</div>