.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.booking_widget {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 300px;
  background: white;
  padding: 10px;
}
